CustomerService/Schemas/MapperOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/MapperOutput" xmlns:tns="http://www.example.org/MapperOutput" elementFormDefault="qualified">

    <element name="customers" type="tns:customerlist"></element>
    
    <complexType name="customerlist">
    	<sequence>
    		<element name="name" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>